<a href="https://colab.research.google.com/github/whiphish/Linear-Algebra_ChE_2nd-Sem-2021-2022/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welome to Python Fundamentals

In this module, we are going to establish or review our skills in Python programming. In this notebook, we are going to cover:

* Variables and Data Types
* Operations
* Looping Statements
* Functions

The students are also tasked to make a grade calculator in the end of this module.

## Variable and Data Types

Declaring the variable and knowing the type of data the programmer used is one of the important things to learn. Properly declaring the variable is important for the program to run properly. Knowing the type of data can let the programmer know what functions or codes applicable for such data. In this section, the students learned:

* Ways to declare variables
* Use a data type identifier
* Data Types
  * float
  * integer
  * string
  * char
  * and etc.
* changing integer to float, and
* getting the integer form of a string

In [ ]:
#declaration of variables
m = 7           #declaration of one variable
a,r = 15, 1     #declaration of one or more variables

In [ ]:
#data type identifier
type(a)         #function key for data type identifier

int

In [ ]:
#float - usually number with decimal places
c = 1.0         #declaration of variable
type(c)         #data type identifier

float

In [ ]:
#changing integer to float
m = float(m)    #function key to change integer to float
type(m)         #data type identifier

float

In [ ]:
#string - data which consists of two or more characters
n,g,e = "2", '2', 'two'   #declaration of variables
type(e)                   #data type identifier

str

In [ ]:
#integer form
n_int = int(n)   #function key to change string to integer form
n_int            #output operation

2

##Operations

This section taught the students different operations in order for the students to finish projects which involves mathematical operations, logic, and input and output operations.

###Arithmetic

Arithmetic is one of the basic functions that a student should learn in coding any programming language, such as Python. In this section, the students learned to code mathematical operations such as:
* addition, 
* subtraction,
* multiplication, 
* division, 
* floor division,
* exponentiation, and 
* modulo.

In [ ]:
#declaration of variables
l,o,s,b = 10.0, -0.2, 5, -15

In [ ]:
### Addition
Sum = l + o               #addition operation
Sum                       #output operation

9.8

In [ ]:
### Subtraction
Difference = s - b        #subtraction operation
Difference                #output operation

20

In [ ]:
### Multipliation
Product = o*s             #multiplication operation
Product                   #output operation

-1.0

In [ ]:
### Division
Quotient = l/s            #division operation
Quotient                  #output operation

2.0

In [ ]:
### Floor Division
Floorquotient = l//b      #floor division operation
Floorquotient             #output operation

-1.0

In [ ]:
### Exponentiation
Exp = l**s                #exponentiation operation
Exp                       #output operation

100000.0

In [ ]:
### Modulo
mod = b%l                 #modulo operation
mod                       #output operation

5.0

### Assignment Operations

Assignment Operations is also important part of learning to code using Python. Through the use of assignment operations, the programmer can use continuous arithmetic operations. The Assignment Operations are usually used in creating loops. In this section, the student learned to code: 
* increment, 
* decrement,
* continuous product, and
* continuous exponentiation

In [ ]:
#declaration of variables
d, i, g, n = 10, 50, 20, 25

In [ ]:
#increment
d += i            #increment
d                 #output

60

In [ ]:
#decrement
i -= g            #decrement
i                 #output

30

In [ ]:
#continuous product 
g *= 5            #continuous product
g                 #output

100

In [ ]:
#continuous exponentiation
n **= 2           #continuous exponentiation
n                 #output

625

### Comparators

Comparators are usually use to compare one or more variable/s to one or more other variable/s in terms of its equality, non-equality and, inequality. To say that variables are equal to one another, they must have the same value. Non-equality is the opposite of equality wherein the values of the variables the programmer is comparing must have different values from one another. Inequality is used to tell that one variable or set of variables is greater than, less than, greater than or equal to, or less than or equal to another variable or set of variables.

In [ ]:
###declaration of variables
ex_1, ex_2, ex_3 = 2, 4.0, "6"
true_val = 4.0

In [ ]:
### Equality
ex_1 == true_val

False

In [ ]:
### Non-equality
ex_2 != true_val

False

In [ ]:
### Inequality
true1 = ex_1 > ex_2               #greater than
true2 = ex_1 < ex_2/4             #less than
true3 = ex_1 >= ex_2/4            #greater than or equal to
true4 = ex_1 <= ex_2              #less than or equal to
true4                             #output operation

True

### Logical

In these part of python, these logicals are responsible for comparing 2 data in the program. Some examples of logical are "or" (either one of the variable meet the expectation, then its true), "and"(both of the variable must meet the expectation to be true), "true" (declaring a variable or statement, true; can be used as parameter), "false" (declaring a variable or statement, false; can be used as  parameter)

In [ ]:
###usage of equality symbol
ex_1 == true_val

False

In [ ]:
###usage of is
ex_1 is true_val

False

In [ ]:
###usage of is not
ex_1 is not true_val

True

In [ ]:
###conjuction
t, f = True, False              #declaration of variables
con = t and f                   #conjuction
con                             #output

False

In [ ]:
###disjunction
t, f = True, False              #declaration of variables
dis = t or f                    #disjunction
dis                             #output

True

In [ ]:
#not
t, f = True, False              #declaration of variables
notand = not(t and f)           #not and and operations
notand                          #output

True

In [ ]:
#elongated example for logical operation              
t, f = True, False                                #declaration of variables
notorandnot = (not t and f) or (t and not f)      #combination of logical operations
notorandnot                                       #output

True

### I/O

A program is not functional if a user cant interact with it same goes with the program. That is why I/O is crucial in every code. Using an input and output, we can create a 2 way communication between the program and user. Input is responsible for taking what necessary data from the user that will be needed in the program. meanwhile, output is responsible for showing the data needed to be shown (either the inputted data of the user or the product of the process).

In [ ]:
### Output
print("Hello Marc!")

Hello Marc!

In [ ]:
#counter
cnt = 1

In [ ]:
# Output with a counter
string = "Hello Marc!"                            #declaration of variable
print(string,"Current run count is:", cnt)        #output operation with counter
cnt += 1                                          #counter

Hello Marc! Current run count is: 1

In [ ]:
#Output with a counter (Another Way)
print(f"{string}, Curret count is: {cnt}")

Hello Marc!, Curret count is: 2

In [ ]:
#Other Output Format
grade = 85.9271790                                                          #declaration of variable float
name = "Marc"                                                               #declaration of variable string 
print("Hello {}! Your semestral grade is: {}".format(name, grade))          #output using .format

Hello Marc! Your semestral grade is: 85.927179

In [ ]:
#\n-endline #\t-indention #:semicolonforpercentages 
Math, Science, English, Filipino = 0.85, 0.86, 0.84, 0.83                   
print("Your semestral grades are:\
\n\t{:.2%} for Math\
\n\t{:.2%} for Sciench\
\n\t{:.2%} for English, and\
\n\t{:.2%} for Filipino.".format(Math, Science, English, Filipino))

Your semestral grades are:
	85.00% for Math
	86.00% for Sciench
	84.00% for English, and
	83.00% for Filipino.

In [ ]:
#inputting numbers
number = input("Enter a number: ")              #input
number                                          #output

Enter a number: 2

'2'

In [ ]:
#inputting words, phrases, or sentences
surname = input("Enter your surname: ")                                                                     #input string 1
fname = input("Enter your first name: ")                                                                    #input string 2
mname = input("Enter your middle name: ")                                                                   #input string 3
program = input("Enter your program of study: ")                                                            #input string 4
print("Hello {}, {} {}! Your program of study is: {}".format(surname, fname, mname, program))               #output using .format

Enter your surname: Ignacio
Enter your first name: Marc Angelo
Enter your middle name: Sabado
Enter your program of study: BS Petroleum Engineering
Hello Ignacio, Marc Angelo Sabado! Your program of study is: BS Petroleum Engineering

# Looping Statements

### While loop

Using a long line of code is never a good idea. It will backfire you when troubleshooting. that is why, using a while loop, we can create a series of process to a specific data instead of writing it one by one. another use of while loop is if the program or user has a long list, while loop can print/display all of it instead of writing a code displaying them one by one.

In [ ]:
##while loop
i,j = 10,30                   #declaration of variables
while(i<=j):                  #while loop
  print(f"{i}\t|\t{j}")       #output operation
  i+=1                        #increment

10	|	30
11	|	30
12	|	30
13	|	30
14	|	30
15	|	30
16	|	30
17	|	30
18	|	30
19	|	30
20	|	30
21	|	30
22	|	30
23	|	30
24	|	30
25	|	30
26	|	30
27	|	30
28	|	30
29	|	30
30	|	30

##For Loop

In [ ]:
#for loop java
#for(int i=0; i<10; i++){
    #print{i}
#}

#for loop python
i=0                       #initialization
for i in range(51):       #for loop
  print(i)                #output operation

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
#making a playlist
playlist = ["THATS WHAT I WANT","Save Your Tears","Huh", "Traitor", "My Head & My Heart", "Ambulance", "Don't Go Yet", "Leave Before You Love Me"]    #playlist
print('Now Playing:\n')                                                                                                                               #output statement
for song in playlist:                                                                                                                                 #for loop
  print(song)                                                                                                                                         #output for list inside playlist

Now Playing:

THATS WHAT I WANT
Save Your Tears
Huh
Traitor
My Head & My Heart
Ambulance
Don't Go Yet
Leave Before You Love Me

#Flow Control

##Conditional Statements

In python, sometimes data needed to be process must be filtered or meet a certain qualification. That is why, conditional statements (if else) are used in the program. If else or conditional statements are responsible for creating a difference or filtering the data inputted by the user. this can be used to determine whether this data is not needed, or can be used what process the program should do with this specific data.

In [ ]:
#If-else and else-if statements
num1, num2 = 24, 50             #declaration of variables
if(num1 == num2):               #if-statement
    print("Nice")               #output operation for if-statement
elif(num1>num2):                #else-if statement
    print("Very Nice")          #output operation for else-if statement
else:                           #else statement
    print("Sad")                #ouput operation for else statement

Sad

#Functions

In [ ]:
#void Deleteuser(int userid){
    #delete(userid);
#}

def delete_user (userid):                                         #definition 
  print("Successfully deleted use: {}".format(userid))            #output

def delete_all_users ():                                          #definition
  print("Successfully deleted all users")                         #output

In [ ]:
#delete user and delete all users
userid = 201914726                                                #declaration of variable
delete_user(201914726)                                            #output
delete_all_users()                                                #output

Successfully deleted use: 201914726
Successfully deleted all users

In [ ]:
#defining terms
def add(sum1, sum2):                                        #definition
  print("I know how to add sum1 and sum2")                  #output
  return sum1 + sum2                                        #return

def power_of_base3(exponent):                               #definition
  return 3**exponent                                        #return

sum1 = 25                                                   #declaration of variable
sum2 = 10                                                   #declaration of variable

exponent = 10                                               #declaration of variable

add(sum1,sum2)                                              #output of first definition
#power_of_base3(exponent)                                   #output of second definition

I know how to add addend1 and addend2

35

#Grade Calculator
Create a grade calculator that computes for the semestral grade of a course.
Students could type their names, the name of the course, then their prelim, midterm, and final grade.

The program should print the semestral grade in 2 decimal points and should display the following emojis depending on the situation:

happy - when grade is greater than 70.00

laughing - when grade is exactly 70.00

sad - when grade is below 70.00

happy, lol, sad - "\U0001F600", "\U0001F606"," \U0001F620"

In [ ]:
#Grade Calculator

name = input("Enter your name: ")                                                                           #input for name
course = input("Name of Course: ")                                                                          #input for course

prelim = input("Enter your prelim grade: ")                                                                 #input for prelim grade
midterm = input("Enter your midterm grade: ")                                                               #input for midterm grade
finals = input("Enter your finals grade: ")                                                                 #input for finals grade

semestral = float(prelim)*0.3 + float(midterm)*0.3 + float(finals)*0.4                                      #arithmetic to get semestral grade
s_g = round(semestral, 2)                                                                                   #arithmetic to round off grade to two decimal places

if s_g>70.00:                                                                                               #if statement for condition 1
    print("Good day! {} of {}! Your semestral grade is: {} \U0001F600".format(name, course, s_g))           #output operation for condition 1 using .format

elif s_g==70.00:                                                                                            #else-if statement for condition 2
    print("Good day! {} of {}! Your semestral grade is: {} \U0001F606".format(name, course, s_g))           #output operation for condition 2 using .format

else:                                                                                                       #else statement for condition 3
    print("Good day! {} of {}! Your semestral grade is: {} \U0001F620".format(name, course, s_g))           #output operation for condition 3 using .format

Enter your name: CHARMAINE A. GONZALES
Name of Course: BS Chemical Engineering
Enter your prelim grade: 97
Enter your midterm grade: 97
Enter your finals grade: 97
Good day! CHARMAINE A. GONZALES of BS Chemical Engineering! Your semestral grade is: 97.0 😀